.login-content {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 50px;
}
.fail-p {
    margin-left: 5px;
    color: #EA4235;
    font-size: 14px;
    margin-bottom: 5px;
}
.login {
    width: 500px;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(146, 146, 146, 0.14);
}
.login .login-header {
    display: flex;
    border-bottom: 2px solid #cccccc63;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px rgba(146, 146, 146, 0.14);
}
.login .login-header a {
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
    padding: 5px;
    background-color: #fff;
    color: #FFBFCA;
    text-transform: uppercase;
    font-weight: 400;
}
.login .login-header a:first-child {
    border-bottom: 2px solid #ffb0bd;
}
.login .login-header a:hover {
    border-bottom: 2px solid #ffb0bd;
}
.main-login {
    padding: 20px 20px;
}
.login .input-name {
    outline: none;
    width: 100%;
    padding: 6px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
.login .input-password {
    outline: none;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-top: 18px;
}
.login .input-password::placeholder {
    font-size: 14px;
}
.login .input-name::placeholder {
    font-size: 14px;
}
.remember {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.remember .remember-link {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #333;
    font-size: 14px;
}
.remember-link:hover {
    color: #EF4C4D;
}
.login-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    padding: 6px 10px;
    background-color: #EF4C4D;
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: #FFB0BD;
    border-color: #FFB0BD;
    border-radius: 0.35rem;
    text-transform: uppercase;
}
.login-button:hover {
    background-color: #FD8FA1;
}
.not-resisger {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}
.orther-btn {
    display: block;
    border: none;
    color: #fff;
    width: 100%;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.login-facebook-btn {
    margin-top: 20px;
    background-color: #2E4B88;
}
.login-google-btn {
    margin-top: 10px;
    background-color: #EA4235;
}